body {
    background: #cccccc;
}

    #baner {
        width: 100%;
    }

h1 {
    text-aling: center;
    }

p {
        text-align: center;
        background: #CCCCCC
    }

    #missao {
            font-size: 20px;
            }

em strong {
    color: #FF0000;
    }
    